<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="com.incquerylabs.smarthome.model.rulegenerator.Example" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.smarthome.model.rulegenerator.Example" id="com.incquerylabs.smarthome.model.rulegenerator.Example">
      <query-specification fqn="com.incquerylabs.smarthome.model.rulegenerator.smartHomeRules"/>
      <query-specification fqn="com.incquerylabs.smarthome.model.rulegenerator.changeStateCommand"/>
      <query-specification fqn="com.incquerylabs.smarthome.model.rulegenerator.changeStateAnalogCommand"/>
      <query-specification fqn="com.incquerylabs.smarthome.model.rulegenerator.changeStateRules"/>
      <query-specification fqn="com.incquerylabs.smarthome.model.rulegenerator.changeStateAnalogRules"/>
      <query-specification fqn="com.incquerylabs.smarthome.model.rulegenerator.generalRules"/>
    </group>
  </extension>
  <extension id="queryrunner" point="org.eclipse.core.runtime.applications">
    <application cardinality="singleton-global" thread="main" visible="true">
      <run class="com.incquerylabs.smarthome.model.rulegenerator.QueryRunner"/>
    </application>
  </extension>
</plugin>
